apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Values.appName }}
  namespace: {{ .Values.namespace }}
  labels:
    prometheus: main
    app: api
spec:
  selector:
    matchLabels:
      app: api
  endpoints:
    - port: api-app
      path: /metrics
      interval: 30s